                                                * {
                                                    padding: 0;
                                                    margin: 0;
                                                    box-sizing: border-box;
                                                }
                                                /*Global styling*/
                                                
                                                .bg-grey {
                                                    background-color: rgba(230, 226, 226, 0.315);
                                                }
                                                
                                                .bg-heading-red {
                                                    background-color: rgba(211, 19, 19, 0.315);
                                                }
                                                /*Global styling End*/
                                                
                                                #navbarone {
                                                    background: #173F5F;
                                                }
                                                
                                                #navbarone ul li a i {
                                                    font-size: 25px;
                                                }
                                                
                                                #navbarone .fa-facebook-square {
                                                    margin-left: 150px;
                                                    color: white;
                                                    border-radius: 30px;
                                                }
                                                
                                                #navbarone .fa-twitter-square {
                                                    color: white;
                                                    background: #3399FF;
                                                    border-radius: 30px;
                                                }
                                                
                                                #navbarone .fa-google-plus-official {
                                                    color: red;
                                                    background: white;
                                                    border-radius: 30px;
                                                }
                                                
                                                .fa-envelope {
                                                    color: red;
                                                    position: absolute;
                                                    margin-top: 5px;
                                                    margin-right: 40px;
                                                }
                                                
                                                .fa-square {
                                                    color: red;
                                                    position: relative;
                                                    margin-left: 40px;
                                                }
                                                
                                                .fa-users {
                                                    font-size: 50px;
                                                    color: #4C9900;
                                                }
                                                
                                                .logo-text {
                                                    color: rgb(32, 32, 32);
                                                    text-decoration: underline;
                                                }
                                                
                                                .N-one-text {
                                                    color: white;
                                                }
                                                
                                                .fa-mobile {
                                                    font-size: 25px;
                                                    color: red;
                                                }
                                                
                                                span:last-child {
                                                    margin-right: 50px;
                                                }
                                                /*NAV TWO STYLES*/
                                                
                                                #navbartwo {
                                                    background: white;
                                                    margin-top: 50px;
                                                }
                                                
                                                #navbartwo img {
                                                    margin-left: 150px;
                                                    height: 100px;
                                                    width: 100px;
                                                    border-radius: 30px;
                                                    /*margin-top: 30px;*/
                                                }
                                                
                                                #navbartwo ul li a:hover {
                                                    color: #4C9900;
                                                    text-decoration: underline;
                                                }
                                                
                                                #navbartwo ul li a {
                                                    font: bold;
                                                    font-family: Arial, Helvetica, sans-serif;
                                                    font-size: 20px;
                                                    font-weight: bold;
                                                }
                                                /*CAROUSEL STYLE */
                                                
                                                .carousel-item {
                                                    height: 500px;
                                                }
                                                
                                                .d-block {
                                                    display: block;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    width: 50%;
                                                }
                                                /*SECTION TWO*/
                                                
                                                .box {
                                                    margin-top: 30px;
                                                    border: 10px solid red;
                                                }
                                                
                                                .box-text {
                                                    padding: 0px;
                                                    font-size: 20px;
                                                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                }
                                                
                                                .box-paragraph {
                                                    padding: 12px;
                                                    background-color: red;
                                                }
                                                
                                                .fa-graduation-cap {
                                                    color: white;
                                                    font-size: 50px;
                                                }
                                                
                                                .fa-plane {
                                                    color: white;
                                                    font-size: 50px;
                                                }
                                                
                                                .fa-line-chart {
                                                    color: white;
                                                    font-size: 50px;
                                                }
                                                
                                                #section-three {
                                                    margin-top: 40px;
                                                    margin-bottom: 60px;
                                                }
                                                /*general styling*/
                                                
                                                h1 {
                                                    margin-top: 20px;
                                                }
                                                
                                                h6 {
                                                    margin-right: 25px;
                                                    margin-top: 20px;
                                                }
                                                
                                                h4 {
                                                    color: honeydew;
                                                    padding: 10px;
                                                    text-align: center;
                                                    text-decoration: underline;
                                                }
                                                
                                                ul li {
                                                    list-style: none;
                                                }
                                                
                                                ul li a {
                                                    text-decoration: none;
                                                    color: honeydew;
                                                }
                                                
                                                a:active {
                                                    color: red;
                                                }
                                                
                                                a:hover {
                                                    text-decoration: none;
                                                    font-size: larger;
                                                }
                                                
                                                .the_footer {
                                                    background-color: #173F5F;
                                                }
                                                
                                                #bttm-footer {
                                                    background-color: red;
                                                }
                                                
                                                .bttm-text {
                                                    color: aliceblue;
                                                }
                                                /*Animation on image*/
                                                
                                                a img:hover {
                                                    animation: shakeimage 0.8s;
                                                    box-shadow: 0px 0px 5px 10px grey;
                                                    margin-bottom: 10px;
                                                }
                                                
                                                @keyframes shakeimage {
                                                    0% {
                                                        transform: translateX(0);
                                                    }
                                                    25% {
                                                        transform: translateX(25px);
                                                    }
                                                    50% {
                                                        transform: translateX(50px);
                                                    }
                                                }
                                                /*Animation on Images END*/
                                                /*Animation on Card*/
                                                
                                                .card:hover {
                                                    border: solid 5px #151e6893;
                                                    animation: cardUp 0.8s;
                                                }
                                                
                                                @keyframes cardUp {
                                                    0% {
                                                        transform: translateY(0);
                                                    }
                                                    25% {
                                                        transform: translateY(25%);
                                                    }
                                                }
                                                /*Screen size*/
                                                
                                                @media screen and (max-width:768px) {
                                                    .d-flex,
                                                    p {
                                                        display: flex;
                                                        flex-wrap: wrap;
                                                        text-align: center;
                                                        justify-content: center;
                                                    }
                                                    #section-three {
                                                        margin: 0px;
                                                        padding: 0;
                                                    }
                                                    .section-media {
                                                        padding: 0;
                                                        margin: 0;
                                                        margin-top: 0px;
                                                    }
                                                    .box {
                                                        margin-top: 10px;
                                                    }
                                                    .media-box,
                                                    .display-none {
                                                        margin-right: 25px;
                                                    }
                                                    .box-text {
                                                        color: white;
                                                        padding: 5px;
                                                        font-size: 12px;
                                                        flex-wrap: wrap;
                                                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                    }
                                                    .box-paragraph {
                                                        padding: 5px;
                                                        background-color: red;
                                                        display: block;
                                                    }
                                                    .fa-graduation-cap {
                                                        color: #173f5f;
                                                        font-size: 25px;
                                                    }
                                                    .fa-users {
                                                        font-size: 30px;
                                                        color: #4C9900;
                                                    }
                                                    .fa-plane {
                                                        color: #173f5f;
                                                        font-size: 25px;
                                                    }
                                                    .fa-line-chart {
                                                        color: #173f5f;
                                                        font-size: 25px;
                                                    }
                                                    .bg-heading-red {
                                                        background-color: #173F5F;
                                                        color: whitesmoke;
                                                        margin-top: 50px;
                                                        padding: 0px;
                                                        overflow: none;
                                                        font-size: 20px;
                                                    }
                                                    h1 {
                                                        margin-top: 5px;
                                                    }
                                                    @keyframes cardUp {
                                                        0% {
                                                            transform: translateX(0);
                                                        }
                                                        25% {
                                                            transform: translateX(25%);
                                                        }
                                                    }
                                                    .display-none {
                                                        display: none;
                                                    }
                                                    .rounded-circle {
                                                        width: 150px;
                                                        height: 150px;
                                                    }
                                                    .display-column {
                                                        display: flex;
                                                        flex-direction: column;
                                                        flex-wrap: wrap;
                                                        display: block;
                                                    }
                                                    .col-3 {
                                                        display: flex;
                                                        flex-direction: column;
                                                        flex-wrap: wrap;
                                                        display: block;
                                                    }
                                                    .carousel {
                                                        margin-bottom: 0%;
                                                        padding-bottom: 0%;
                                                    }
                                                }
                                                /*PROFILE STYLING*/
                                                
                                                .straight-line-red {
                                                    border: 10px solid red;
                                                }
                                                
                                                .straight-line-blue {
                                                    border: 10px solid #173F5F;
                                                }